<%= form_for(@coupon) do |f| %>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :coupon_vendor %><br />
    <%= f.text_field :coupon_vendor %>
  </div>
  <div class="field">
    <%= f.label :expire_at %><br />
    <%= f.datetime_select :expire_at %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.number_field :status %>
  </div>
  <div class="field">
    <%= f.label :used_by %><br />
    <%= f.text_field :used_by %>
  </div>
  <div class="field">
    <%= f.label :type %><br />
    <%= f.number_field :type %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
