<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @coupon.user_id %>
</p>

<p>
  <b>Coupon vendor:</b>
  <%= @coupon.coupon_vendor %>
</p>

<p>
  <b>Expire at:</b>
  <%= @coupon.expire_at %>
</p>

<p>
  <b>Status:</b>
  <%= @coupon.status %>
</p>

<p>
  <b>Used by:</b>
  <%= @coupon.used_by %>
</p>

<p>
  <b>Type:</b>
  <%= @coupon.type %>
</p>


<%= link_to 'Edit', edit_coupon_path(@coupon) %> |
<%= link_to 'Back', coupons_path %>
