<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "underscore-min" %>
  <%= javascript_include_tag "application" %>
  <%= render(:partial => "layouts/head_tags") %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
</body>
</html>
